{{- $siteTitle := site.Title -}}
{{- $pageTitle := cond .IsHome $siteTitle .Title -}}
{{- if eq .Kind "404" -}}
	{{- $pageTitle = "404 页面不存在" -}}
{{- end -}}
{{- $documentTitle := $siteTitle -}}
{{- if not .IsHome -}}
	{{- $documentTitle = printf "%s | %s" $pageTitle $siteTitle -}}
{{- end -}}
{{- $siteDescription := site.Params.description -}}
{{- $description := $siteDescription -}}
{{- if .IsPage -}}
	{{- with partial "lede.html" . -}}
		{{- $description = . -}}
		{{- if gt (strings.RuneCount .) 80 -}}
			{{- /* Search snippets and social cards show roughly 80 CJK characters. Prefer ending on a sentence inside that limit; a clause that runs on gets a hard cut. truncate HTML-escapes plain strings, so unescape its result; the meta attributes escape once on output. */ -}}
			{{- $description = truncate 80 "…" . | htmlUnescape -}}
			{{- with findRE `^.*[。！？][”」』）]*` (substr . 0 80) 1 -}}
				{{- if ge (strings.RuneCount (index . 0)) 40 -}}
					{{- $description = index . 0 -}}
				{{- end -}}
			{{- end -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
{{- return (dict
	"page" .
	"siteTitle" $siteTitle
	"pageTitle" $pageTitle
	"documentTitle" $documentTitle
	"siteAuthor" site.Params.author
	"siteDescription" $siteDescription
	"themeColor" site.Params.theme_color
	"licenseURL" site.Params.license.url
	"description" $description
	"isArticle" (and .IsPage (eq .Section "posts"))
)
-}}
