{{- range $assetPath := slice "static/favicon-96x96.png" "static/favicon.svg" "static/favicon.ico" -}}
	{{- if not (fileExists $assetPath) -}}
		{{- partial "fail.html" (dict
			"area" "asset"
			"problem" "missing favicon asset"
			"location" $assetPath
			"expected" "a static favicon file"
			"got" "<not found>"
			"fix" "restore the favicon file or remove its head link"
			)
		-}}
	{{- end -}}
{{- end -}}
<link rel="icon" type="image/png" href="{{ "favicon-96x96.png" | relURL }}" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="{{ "favicon.svg" | relURL }}">
<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
