{{ define "main" }}
{{ $homeURL := "/" | relURL }}
{{ $isArticle := eq .Section "posts" }}
{{ if $isArticle }}
	{{ $homeURL = printf "%s#%s" ("/" | relURL) (.File.ContentBaseName | anchorize) }}
{{ end }}
<nav class="page-nav" id="top" aria-label="文章导航">
	<a href="{{ $homeURL }}">返回首页</a>
</nav>
<article{{ if $isArticle }} itemscope itemtype="https://schema.org/BlogPosting"{{ end }}>
	{{ if $isArticle }}
		<meta itemprop="mainEntityOfPage" content="{{ .Permalink }}">
		<span itemprop="author" itemscope itemtype="https://schema.org/Person">
			<meta itemprop="name" content="{{ site.Params.author }}">
		</span>
	{{ end }}
	<h1{{ if $isArticle }} itemprop="headline"{{ end }}>{{ .Title }}</h1>
	{{ $date := .Date.Format "2006-01-02" }}
	{{ $lastmod := .Lastmod.Format "2006-01-02" }}
	<div class="article-meta">
		<div>
			<time datetime="{{ $date }}"{{ if $isArticle }} itemprop="datePublished"{{ end }}>{{ $date }}</time>发布
		</div>
		{{ if and .Params.lastmod (ne $date $lastmod) }}
			<div>
				<time datetime="{{ $lastmod }}"{{ if $isArticle }} itemprop="dateModified"{{ end }}>{{ $lastmod }}</time>更新
			</div>
		{{ else if $isArticle }}
			<meta itemprop="dateModified" content="{{ $date }}">
		{{ end }}
		{{ with .GetTerms "tags" }}
			<div class="article-meta-tags">
				{{ range . }}
					{{ if $isArticle }}<meta itemprop="keywords" content="{{ .Title }}">{{ end }}
					<a href="{{ .RelPermalink }}">#{{ .Title }}</a>
				{{ end }}
			</div>
		{{ end }}
	</div>
	{{ if $isArticle }}
		{{ with partial "cover/context.html" . }}
			{{ partial "render-image/html.html" (dict "hook" . "role" "cover") }}
		{{ end }}
	{{ end }}
	{{ with .Fragments.Headings }}
		<h2 id="toc-heading">目录</h2>
		{{ replace $.TableOfContents `<nav id="TableOfContents">` `<nav id="TableOfContents" aria-labelledby="toc-heading">` | safeHTML }}
	{{ end }}
	<div{{ if $isArticle }} itemprop="articleBody"{{ end }}>
		{{ .Content }}
	</div>
	{{ if $isArticle }}
		{{ partial "comments.html" . }}
		{{ partial "message-form.html" . }}
	{{ end }}
</article>
<footer class="page-nav footer-nav">
	<nav aria-label="文章页脚导航">
		<a href="{{ $homeURL }}">返回首页</a>
		<a href="#top">回到顶部</a>
	</nav>
</footer>
{{ end }}
