{{ define "main" }}
{{ $homeURL := "/" | relURL }}
<nav class="page-nav" id="top" aria-label="页首">
	<a href="{{ $homeURL }}">返回首页</a>
</nav>
<article>
	<h1>{{ .Title }}</h1>
	{{ $date := .Date.Format "2006-01-02" }}
	{{ $lastmod := .Lastmod.Format "2006-01-02" }}
	<div class="article-meta">
		<div>
			<time datetime="{{ $date }}">{{ $date }}</time>发布
		</div>
		{{ if and .Params.lastmod (ne $date $lastmod) }}
			<div>
				<time datetime="{{ $lastmod }}">{{ $lastmod }}</time>更新
			</div>
		{{ end }}
		{{ with .GetTerms "tags" }}
			<div class="article-meta-tags">
				{{ range . }}
					<a href="{{ .RelPermalink }}">#{{ .Title }}</a>
				{{ end }}
			</div>
		{{ end }}
	</div>
	{{ with .Fragments.Headings }}
		<h2 id="toc-heading">目录</h2>
		{{ replace $.TableOfContents `<nav id="TableOfContents">` `<nav id="TableOfContents" aria-labelledby="toc-heading">` | safeHTML }}
	{{ end }}
	<div>
		{{ .Content }}
	</div>
</article>
<footer class="page-nav footer-nav">
	<nav aria-label="页脚">
		<a href="{{ $homeURL }}">返回首页</a>
		<a href="#top">回到顶部</a>
	</nav>
</footer>
{{ end }}
