{{- $link := partial "render-link/resolve.html" . -}}
{{- $isExternal := and (in (slice "http" "https") $link.scheme) $link.url.Host (ne (lower $link.url.Host) (lower (urls.Parse site.BaseURL).Host)) -}}
<a href="{{ $link.destination | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if $isExternal }} target="_blank" rel="{{ if eq .Page.Section "comments" }}ugc {{ end }}nofollow noopener noreferrer"{{ with strings.TrimSpace .PlainText }} aria-label="{{ printf "%s（在新标签页打开）" . }}"{{ end }}{{ end }}>{{ .Text }}</a>{{- "" -}}
