{{- $routes := dict -}}

{{- range site.Pages -}}
	{{- with .RelPermalink -}}
		{{- $path := (urls.Parse .).Path -}}
		{{- $routes = merge $routes (dict $path true) -}}
	{{- end -}}
	{{- range .OutputFormats -}}
		{{- $path := (urls.Parse .RelPermalink).Path -}}
		{{- $routes = merge $routes (dict $path true) -}}
	{{- end -}}
{{- end -}}

{{- range slice ("robots.txt" | relURL) ("sitemap.xml" | relURL) -}}
	{{- $path := (urls.Parse .).Path -}}
	{{- $routes = merge $routes (dict $path true) -}}
{{- end -}}

{{- return $routes -}}
